In [22]:
import numpy as np
import pandas as pd
import random

from sklearn.model_selection import ParameterSampler
from scipy.stats import randint as sp_randint
from scipy.stats import uniform, poisson

In [123]:
# city names
canada_cities = pd.read_csv('list-of-cities-in-canada-csv.csv',names=['city'])
canada_cities = list(canada_cities['city'])

#make of cars
car_make = [
    'honda',
    'toyota',
    'bmw',
    'mercedes',
    'ford',
    'gmc',
    'tesla',
    'chevy',
    'audi',
    'nissan',
    'acura',
]

model_dict = {
    'honda': ['civic', 'accord'],
    'toyota': ['camry', 'corrola'],
    'bmw': ['m3', 'i8', 'x5'],
    'mercedes': ['c', 's', 'g'],
    'ford': ['f150', 'focus', 'explorer'],
    'gmc': ['terrain','sierra','yukon'],
    'tesla': ['x', '3', 's'],
    'chevy': ['equinox', 'malibu'],
    'audi': ['r8','e-tron'],
    'nissan':['mirano','micro'],
    'acura':['rsx', 'mdx']
}

In [124]:
parameters = {'age':  sp_randint(18, 85),
              'city': canada_cities,
              'year': sp_randint(1998, 2020),
              'make': car_make,
              'dist': sp_randint(1200, 25000),
              'gender': ['m','f'],
              }

# other columns
    # new_used
    # model

p_list = list(ParameterSampler(parameters, n_iter=10,random_state=32))

In [125]:
df = pd.DataFrame(p_list)
df

   age          city   dist gender    make  year
0   61    Belleville  10726      m    audi  2017
1   21  Wood Buffalo   9401      m  toyota  2001
2   83       Kelowna   9427      m   acura  2016
3   28      St. John  21090      m    ford  2003
4   56        Sarnia   7099      m    audi  2018
5   82       Burnaby   6942      m    ford  2007
6   48    Sherbrooke  11651      m     gmc  2008
7   53  Peterborough  23266      f    audi  2013
8   29     Vancouver  12383      f     bmw  2000
9   66      St. John  13954      f   acura  2000

In [126]:
def select_model_and_age(df, model_dict):
    model_list = []
    age_list = []
    
    for i in df.itertuples():
        if i.make in list(model_dict.keys()):
            model_ind = random.choice(model_dict[i.make])
            model_list.append(model_ind)
        else:
            model_list.append('other')
            
        if i.year > 2018:
            age_list.append('new')
        else:
            age_list.append('used')
            
        
    
        
            
    df['model'] = model_list
    df['new_used'] = age_list
    return df

In [128]:
df = select_model_and_age(df, model_dict)
df

   age          city   dist gender    make  year     model new_used
0   61    Belleville  10726      m    audi  2017    e-tron     used
1   21  Wood Buffalo   9401      m  toyota  2001   corrola     used
2   83       Kelowna   9427      m   acura  2016       mdx     used
3   28      St. John  21090      m    ford  2003  explorer     used
4   56        Sarnia   7099      m    audi  2018    e-tron     used
5   82       Burnaby   6942      m    ford  2007     focus     used
6   48    Sherbrooke  11651      m     gmc  2008   terrain     used
7   53  Peterborough  23266      f    audi  2013    e-tron     used
8   29     Vancouver  12383      f     bmw  2000        x5     used
9   66      St. John  13954      f   acura  2000       mdx     used

In [112]:
df

In [ ]:
def insurance_price(df, model_dict):
    
    for i in df.itertuples():
        if i.make in ['honda', 'toyota']:
            print(random.choice(model_dict[i.make]))
        
    
        else:
            print(0)